body {
    background-color: rgb(40, 42, 42);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgrey;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: whitesmoke;
        color: black;
    }
}

body.light {
    background-color: whitesmoke;
    color: black;
}

h2 {
    font-weight: 100;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-image: linear-gradient(
            rgba(64, 58, 58, 0.6),
            rgba(60, 57, 57, 0.6)
        ),
        url(/Dark-Mode/images/map.png);
    background-size: contain;
    border-radius: 20px;
    box-shadow: 7px 7px 15px black;
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.light .card {
    background-image: linear-gradient(
            rgba(223, 216, 216, 0.6),
            rgba(249, 246, 246, 0.6)
        ),
        url(/Dark-Mode/images/map.png);
    box-shadow: 7px 7px 15px grey;
}

@media (prefers-color-scheme: light) {
    .card {
        background-image: linear-gradient(
                rgba(223, 216, 216, 0.6),
                rgba(249, 246, 246, 0.6)
            ),
            url(/Dark-Mode/images/map.png);
    }
}

.card :nth-child(2) {
    margin-top: auto;
    line-height: 20%;
}

.card_text {
    font-size: xx-small;
    color: darkgray;
}

.card_number {
    font-size: small;
}

.card_date {
    font-size: smaller;
}

.card_name {
    font-size: x-small;
}

.mastercard-logo {
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.mastercard_circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.mastercard-logo--red {
    background-color: rgba(255, 0, 0, 0.812);
}
.mastercard-logo--orange {
    background-color: rgba(255, 166, 0, 0.825);
    position: absolute;
    left: 70%;
}

img.card_chip {
    position: absolute;
    top: 35%;
    left: 20px;
    height: 45px;
}

.settings {
    font-size: 30px;
    color: rgb(92, 90, 90);
}

.settings_background {
    cursor: pointer;
    display: grid;
    place-items: center;
    background-color: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 90%;
    margin-top: 10%;
}
