.swing {
}
.seat {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: tomato;
    transform: rotate3d(1, 0.8, 0.8, 295deg);
}
.hole {
    position: absolute;
    height: 10px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

.hole::after {
    content: "";
    display: block;
    height: 10px;
    width: 20px;
    border-radius: 20% 20% 50% 40%;
    background-color: blue;
}

.hole--1 {
    top: 4px;
    left: 4px;
}
.hole--2 {
    top: 4px;
    right: 4px;
}
.hole--3 {
    bottom: 4px;
    left: 4px;
}
.hole--4 {
    bottom: 4px;
    right: 4px;
}
.rope--close {
}
.rope--far {
}
